
.DS_Store
ESP_HardSplits/notebooks_and_code/additional_code/__pycache__/negative_data_generator.cpython-312.pyc
ESP_HardSplits/notebooks_and_code/additional_code/__pycache__/helper_functions.cpython-312.pyc
ESP_HardSplits/notebooks_and_code/additional_code/__pycache__/data_preprocessing.cpython-312.pyc

.idea
ESP_HardSplits/data/data_ESP/dataESP.pkl
ESP_HardSplits/data/data_ESP/dataESP_D3408.pkl
ESP_HardSplits/data/data_ESP/dataESP_NoATP.pkl
/ESP_HardSplits/notebooks_and_code/wandb
ESP_HardSplits/notebooks_and_code/additional_code/__pycache__/splitByESP_method.cpython-312.pyc
__pycache__/

/ESP_HardSplits/notebooks_and_code/.ipynb_checkpoints
ESP_HardSplits/notebooks_and_code/.ipynb_checkpoints/4-1 Plots and figures_1D_2S-checkpoint.ipynb
ESP_HardSplits/notebooks_and_code/additional_code/.ipynb_checkpoints/helper_functions-checkpoint.py
/ESP_HardSplits/notebooks_and_code/.ipynb_checkpoints
ESP_HardSplits/notebooks_and_code/.ipynb_checkpoints/4-1 Plots and figures_1D_2S-checkpoint.ipynb
ESP_HardSplits/data/data/2splits/train_C1e_2S.pkl
/ESP_HardSplits/notebooks_and_code/.ipynb_checkpoints
